<style>
    .calculator {
        width: 750px;
        padding: 30px;
        position: relative;
    }

    .line-input {
        width: 150px;
        color: #8f1ee9;
    }

    .line-input::-webkit-inner-spin-button, .line-input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .cost {
        display: flex;
        margin-bottom: 0;
        justify-content: space-between;
    }
    
    .line-top {
        display: flex;
        justify-content: space-between;
    }

    .line-top label {
        font-size: 30px;
        font-weight: 600;
    }

    .line-top input {
        font-size: 18px;
        font-weight: 500;
    }

    .sum {
        color: #8f1aeb;
        font-weight: 600;
    }

    .cost-time {
        text-align: left;
        display: block;
        width: 150px;
    }

    .cost-text {
        font-size: 28px;
        font-weight: 400;
    }
    

</style>
<script async src="{{ url_for('static', filename='js/calc.js')}}"></script>

<div class="calculator">
    <div class="line mb-3">
        <div class="line-top mb-4">
            <label for="from" class="form-label">Ваш рейтинг:</label>
            <input type="number" class="form-control line-input track-value" name="from-input" id="from-input" value="5000" min="0" max="20000" maxlength="5">
        </div>
        <div class="input_scroll">
            <input type="range" name="from" id="from" class="form-range track-value" min="0" max="20000" step="1" value="5000">
        </div>
    </div>
    <div class="line">
        <div class="line-top mb-4">
            <label for="to" class="form-label">Желаемый рейтинг:</label>
            <input type="number" class="form-control line-input track-value" name="to-input" id="to-input" value="10000" min="0" max="20000" maxlength="5">
        </div>
        <div class="input_scroll">
            <input type="range" name="to" id="to" class="form-range track-value" min="0" max="20000" step="1" value="10000">
        </div>
    </div>
    <div class="cost">
        <div class="cost-time">
            Среднее время выполнения: <span id="time" style="color: #8f1aeb; font-weight: 600; font-size: 15px;"></span> ч.
        </div>
        <div class="cost-text">
            Стоимость: <span class="sum" id="sum"></span> рублей
        </div>
        
    </div>
</div>