.topup-requests h1{
    text-align: center;
}

.request {
    width: 100%;
    border: 1px solid black;
    position: relative;
    padding: 20px 10px;
}

.request p {
    margin: 0;
}

.action-refs {
    position: absolute;
    right: 30px;
    top: 10px;
    display: flex;
    gap: 15px;
}

.action-refs a {
    width: 130px;
}

.action-all-refs {
    display: flex;
    width: 100%;
    gap: 25px;
}