* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    min-width: 400px;
    width: 100%;
    height: 60px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
    padding: 0.5rem 1.25rem;
    background-color: palegreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mnu_top {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    
}

.mnu_top li {
    display: inline-block;
}

.logo {
    margin-left: 50px;
}

.endpage {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, .75);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    margin-top: 25px;
    margin-left: 30px;
    width: 50px;
    height: 70px;
    list-style-type: none;
}

.socials li {
    padding: 15% 0;
}
    

.socials a {
    text-decoration: none;
    color: aqua;
    font-family: 'Red Hat Mono', monospace;
}

.container {
    position: relative;
}