* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    min-width: 400px;
    width: 100%;
    height: 60px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
    padding: 0.5rem 1.25rem;
    background-color: palegreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mnu_top {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    
}

.mnu_top li {
    display: inline-block;
}

.logo {
    margin-left: 50px;
}

.endpage {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, .75);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    margin-top: 25px;
    width: 50px;
    height: 70px;
    list-style-type: none;
}

.socials li {
    padding: 15% 0;
}
    

.socials a {
    text-decoration: none;
    color: aqua;
    font-family: 'Red Hat Mono', monospace;
}

.container {
    position: relative;
}

.submit-button {
    margin-top: 25px;
    background-color: white;
    font-weight: 600;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    transition: 0.25s;
}

.submit-button:hover {
    color: white;
    background-color: #0d6dfd;
    border: 1px solid #0d6efd;
    border-radius: 0.65rem;

}

.a-button {
    color: black;
    text-decoration: none;
    text-align: center;
}

.info, .info-green {
    margin-top: 10px;
    margin-bottom: 0;
}
.info {
    color: #e00000;
}
.info-green {
    color: green;
}