.login {
    width: 450px;
    height: auto;
    margin: 100px auto;
    border-radius: 15px;
    border: 1px outset black;
    padding: 20px;
    font-family: sans-serif;
}

.login div {
    margin-top: 15px;
}

.register, .forgot {
    text-align: center;
    display: block;
}

