.login {
    width: 450px;
    height: auto;
    margin: 200px auto;
    border-radius: 15px;
    border: 1px outset black;
    padding: 20px;
    font-family: sans-serif;
}

.info {
    margin-top: 10px;
    margin-bottom: 0;
    color: #e00000;
}