.profile-container {
    width: 800px;
    height: auto;
    border: 2px solid black;
    border-radius: 30px;
    margin: 50px auto;
    padding: 30px;
}

.profile-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.info {
    margin-top: 10px;
    margin-bottom: 0;
    color: #e00000;
}

.profile-image {
    width: 256px;
    height: 256px;
    border: 4px dotted blue;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.balance {
    display: flex;
    justify-content: space-between;
}

.profile-button {
    margin-top: 25px;
    background-color: white;
    font-weight: 600;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    transition: 0.25s;
}

.profile-button:hover {
    color: white;
    background-color: #0d6dfd;
    border: 1px solid #0d6efd;
    border-radius: 0.65rem;

}

.a-button {
    color: black;
    text-decoration: none;
    text-align: center;
}

.birth-select {
    display: flex;
    gap: 25px;
}

.left {
    float: left;
}

.birth-select select {
    width: 125px;
}

label {
    user-select: none;
    cursor: pointer;
}

.change-password {
    display: block;
}

.change-password label {
    margin: 10px 0;
}