.register {
    font-family: sans-serif;
    margin: 50px auto;
    padding: 20px;
    width: 450px;
    height: auto;
    border: 1px outset black;
    border-radius: 15px;
}

.email {
    margin-top: 25px;
}

.password-inputs {
    margin-top: 15px;
    display: inline-flex;
    column-gap: 28px;
}

.passInput {
    width: 190px;
}

.birth-select {
    display: flex;
    justify-content: space-between;
}

.left {
    float: left;
}

.select {
    width: 125px;
}

.reg_text {
    margin: 0;
    padding: 0;
}

.rule-accept {
    margin-top: 25px;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.referal {
    margin-top: 25px;
}

.has-account {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.ref-input::-webkit-inner-spin-button, .ref-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}