{% extends "admin_base.html" %}
{% block head %}
    {{super()}}
    <title>Админ панель</title>
    <link rel="stylesheet" href="{{css|safe}}">
{% endblock %}
{% block panel %}
    <div class="topup-requests mt-5">
        <h1 class="mb-1">Заявки пополнений</h1>
        <div class="show-requests">
            {% if requests %}
                <div class="action-all-refs mb-4">
                    <a href="/admin/request?apikey={{apikey}}&request_id=all&type=balance&action=accept&next=topups" class="submit-button a-button">Принять все</a>
                    <a href="/admin/request?apikey={{apikey}}&request_id=all&type=balance&action=reject&next=topups" class="reject-button a-button">Отклонить все</a>    
                </div>
                {% for req in requests %}
                <div class="request mt-1">
                    <p class="requestor">Пользователь: {{req.login_for}}</p>
                    <p class="request-sum">Сумма: {{req.sum}}</p>
                    <p class="request-date">Дата создания заявки: 
                        {% with d, m, y, H, M, S = req.date.split('.') %}
                            {{d}}.{{m}}.{{y}} в {{H}}:{{M}}:{{S}}
                        {% endwith %}
                    </p>
                    <div class="action-refs">
                        <a href="/admin/request?apikey={{apikey}}&request_id={{req.id}}&type=balance&action=accept&next=topups" class="submit-button a-button">Подтвердить</a>
                        <a href="/admin/request?apikey={{apikey}}&request_id={{req.id}}&type=balance&action=reject&next=topups" class="reject-button a-button">Отклонить</a>
                        
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h2 class="mt-4" style="text-align: center;">На данный момент нет новых заявок на пополнение</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}