<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!--Linked css-->
    <link href="/static/css/base.css" rel="stylesheet">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap" rel="stylesheet">
    <!--Boostrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JQuerry -->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    {% endblock %}
</head>
<body>
    <nav class="header navbar-dark bg-dark">
        <a href="/" class="logo"><img src="" alt="">Boosting</a>
        <div class="right">
            <ul class="mnu_top">
                <li><a href="/">Игры</a></li>
                <li><a href="/">Заказы</a></li>
                <li><a href="/">Бустеры</a></li>
            </ul>
            <div class="login_top">
                {% if not nickname %}
                <a href="/login"><button class="btn btn-outline-success">Авторизация</button></a>
                {% else %}
                <p style="color: white; width: 100%; margin-bottom: 0;">Привет, {{nickname}}</p>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container" style="padding: 0;">
        {% block container %}
        {% endblock %}
    </div>
    <footer class="endpage">
        <ul class="socials">
            <li><a href="https://vk.com/nelttjen">ВКонтакте</a></li>
            <li><a href="https://github.com/nelttjen">GitHub</a></li>
        </ul>
        <div class="information" style="display: block; width: 500px; text-align: center;">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, sunt laborum tempore nemo neque doloribus consectetur, incidunt, eum veritatis aliquam amet. Inventore eos vitae beatae incidunt dolor pariatur, velit laborum.
        </div>
        <div class="copyright">
            © site.org 2022-2022
        </div>
    </footer>
    
</body>
</html>