{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{css|safe}}">
{% endblock %}
{% block container %}
    <form class="login" action="" method="post" enctype="multipart/form-data">
        <h3 class="autozire">
            Авторизация
        </h3>
        <div class="fieldInput email">
            <label for="inputEmail" class="form-label">Логин или почта</label>
            <input type="text" class="fieldInput form-control" id="inputEmail" placeholder="Введите логин" name="login">
        </div>
        <div class="fieldInput password">
            <label for="inputPassword" class="passLabel form-label">Пароль</label>
            <input type="password" class="fieldInput form-control" id="inputPassword" placeholder="Введите пароль" name="pass">
        </div>
        <div class="register">Нет аккаунта? 
            <a class="register_text" href="/register">
                Зарегестрироваться
            </a>
        </div>
        <div class="submit">
            <button type="submit" class="btn-login btn btn-primary">Войти</button>
            <div class="forgot"><a href="/recovery">Забыли пароль?</a></div>
        </div>
    </form>
{% endblock %}