{% extends "order_base.html" %}
{% block order %}
    <form action="" method="post" enctype="multipart/form-data" onsubmit="return order_validate()">
        {% include "include/calc.html"%}    
        <div class="calculator-bottom">
            <input type="text" class="form-control code bottom-input purple" placeholder="Промокод" name="code" id="code">
            <div class="account-details">
                <p class="form-label">Данные аккаунта</p>
                <input type="text" class="form-control mb-2 bottom-input purple" placeholder="Логин или почта" name="order_1" id="order_1">
                <input type="password" class="form-control mb-2 bottom-input" placeholder="Пароль" name="order_2" id="order_2">
            </div>
            <!-- <p>Ваш баланс: <span class="sum">{{user.balance}}</span> руб</p> -->
            <button type="submit" class="submit-button form-button">Перейти к оформлению</button>
        </div>
    </form>
{% endblock %}

